.landing {
background-color: #9a17d7;
height:80rem;


}

.landingpage-nav{
    display: flex;
    justify-content: right;
    margin-top:-7rem;

}

.signup-btn {
    background-color: black;
    color: white;
    width: 12rem;
    height:3rem;
    border-radius: 20px;
    font-size: 1.5rem;
}
.login-link{
    margin-top:-.5rem;
    margin-left:4.8rem;
    color:white;
}
  
.landing-logo{ 
   margin-left: 2rem;;
   margin-top:1rem;
   width:12rem;

}


