
.guru-Container {
    background-color: #45f9ff;
    height:50rem;
}

.guru-motto {
    padding-top:10rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.imagecontainer{
    margin-top: 5rem;
   
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.joshua-img {
    height:10rem;
    width:20rem;
    border-radius: 40px;
}


.jorge-img {
    height:10rem;
    width:20rem;
    border-radius: 40px;

}

.heading1{
    color:black;
    font-size: 3rem;
    
}

.heading2 {
    color:black;
    font-size: 2rem;
}