body {
    background-color: black;
    
}

.login-container { 
    background: white;
    text-align: center;
    height:60vh;
    position: center, center;
    width: 35vw;
    margin-top: 10rem;
    width:23%;
    border-radius:10px;
    border:1px solid black;
}

.login-header {
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.login-placeholder {
    
    background-color: #E7F1FE;
    border-radius: 10px;
    width: 20rem;
}
.login-btn{
    margin-top: 1rem;
    background-color:#C62DED;
    color: white;
    font-size: 1rem;;
    width:15rem;
    height:2rem;
    border-radius: 10px;
}
.sign-up-link {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.login-signup{
    text-decoration: none;
    color: #C62DED;
}