.catalog-page {
    background-color:#FE12BC;
    height: 50rem;
}

.menu-tab {
    display: flex;
    justify-content:space-around;
}

.course-btn{
    background-color: rgba(0, 0, 0, 0.822);
    color:white;
    border-radius:20px;
    width:8rem;
}
.menu-tab-container {
    margin-top:5rem;
}

.course-header {
    padding-top: 5rem;
    text-align: center;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 5rem;
   
}

.row2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 5rem;

}
.card {
    height:10rem;
    width:15rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px;
}
.courses-heading {
    color: white;
}


